@import url("https://fonts.googleapis.com/css2?family=BhuTuka+Expanded+One&family=League+Script&family=Poiret+One&display=swap");
html {
  margin: 0;
}

#root {
  margin: 0;
}

body {
  background-color: #F7EBF8;
  padding: 0;
  margin: 0;
  max-width: 100vw;
}

h1 {
  font-family: "poiret one";
}

a {
  font-family: "poiret one";
  text-decoration: none;
  color: black;
}
a:hover {
  color: black;
}

header {
  display: grid;
  grid-template-columns: 25% 75%;
  margin-bottom: 20px;
  width: 100vw;
}

.navBar__items {
  display: none;
  width: 100vw;
}

.navBar {
  width: 100vw;
}

.showMenu {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 20px;
  font-size: 1.5em;
  position: fixed;
  z-index: 5;
  width: 100vw;
  background: #fff;
  color: #000;
  opacity: 0.95;
  height: 75vw;
}

.btn {
  background: none;
  border: none;
  width: 10vw;
  margin-top: 25px;
  margin-left: 20px;
  display: inline-block;
  position: absolute;
  z-index: 6;
}

.menuImg {
  width: 75%;
  height: auto;
}

.headerTitle {
  display: inline;
  letter-spacing: 0.5em;
}

.aboutMeDes {
  font-family: "poiret one";
  font-size: 2em;
  text-align: center;
}

.heading {
  display: inline;
  font-size: 20vw;
  color: #ed583f;
  position: relative;
  margin-left: 30px;
}
.heading__title {
  background-color: #f3a732;
}

#page1img {
  display: block;
  width: 80vw;
  border-radius: 150px;
  margin: auto;
  box-shadow: 0 0 10px 10px #A2C75D;
  margin-top: -85px;
}

.workDiv {
  background-color: #A2C75D;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  width: 20vw;
  height: 20vw;
  margin-left: 0;
  padding: 20px;
  margin-bottom: 10px;
  text-align: center;
  font-family: "poiret one";
  font-size: 2.5vw;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.workDiv__github {
  display: none;
}

.listCards {
  display: flex;
  width: 100vw;
  flex-wrap: wrap;
  margin: auto;
  column-gap: 10px;
  justify-content: center;
}

.workTitle {
  text-align: center;
}

.aboutMe {
  font-family: "poiret one";
  color: #ed583f;
  font-size: 2em;
  width: 75vw;
  margin: auto;
}
.aboutMe__welcome {
  font-family: "poiret one";
  color: #ed583f;
  font-size: 4em;
  margin-left: 50px;
}

@media only screen and (min-width: 545px) {
  .headerTitle {
    display: none;
  }
  .navBar__items {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
    font-size: 1.5em;
  }
  .btn {
    display: none;
  }
  .menuImg {
    width: 75%;
    height: auto;
  }
  #page1main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 80vh;
  }
  #page1img {
    height: 60vh;
    width: auto;
    grid-row: 1/3;
    margin-top: 0px;
    align-self: start;
    grid-column: 2/4;
    margin-right: 30px;
    margin-top: 20px;
  }
  .heading {
    font-size: 10vw;
    grid-row: 2/3;
    grid-column: 1/3;
    width: 65vw;
    text-align: center;
    display: inline;
  }
  .aboutMeDes {
    grid-row: 1/2;
    grid-column: 1/3;
    align-self: center;
    font-size: 3.5em;
  }
  .aboutMeDes__content {
    background-color: #A2C75D;
  }
  .workDiv {
    width: 10vw;
    height: 10vw;
    font-size: 1em;
  }
  .workDiv:hover {
    box-shadow: 0 0 10px 10px #5D7137;
  }
  .workDiv__name {
    font-size: 2vw;
  }
  .listCards {
    display: flex;
    margin-left: 20px;
    column-gap: 10px;
    align-content: space-evenly;
    width: 50vw;
    flex-wrap: wrap;
  }
  .page2flex {
    display: flex;
    margin-top: 100px;
    width: 100vw;
  }
  .clarifier {
    width: 100vw;
    font-family: "poiret one";
    text-align: center;
  }
  .workTitle {
    font-size: 10vw;
    background-color: #f3a732;
    margin: auto;
    border-radius: 50px;
    margin-left: 20px;
    margin-top: 0px;
    color: #F7EBF8;
    padding: 20px;
    align-self: flex-start;
    width: 40vw;
  }
}
@media only screen and (min-width: 1021px) {
  #page1img {
    width: 24vw;
    height: auto;
    margin-right: 100px;
    position: relative;
  }
  .aboutMeDes {
    grid-column: 1/4;
    margin-left: 150px;
    margin-bottom: -75px;
    color: #2A0760;
    background-color: #A2C75D;
    text-align: right;
    padding-right: 450px;
    box-shadow: -5px 5px 8px #5D7137;
  }
  .aboutMeDes__content {
    background-color: transparent;
    padding: 10px;
  }
  .heading {
    width: 75vw;
    text-align: left;
  }
  .heading__title {
    padding-left: 100px;
    margin-left: -50px;
    box-shadow: 5px 5px 8px #AE7520;
  }
}

/*# sourceMappingURL=main.css.map */
